
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/emolhead.png')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Image and Username Sender</title>
    <style>
    h4,h5{
        color: white;
    }
    .form-control{
        background-color: rgb(27, 27, 27);
        color: gray;
        border: 0cap;
        width: 200px;
    }
    .mobile,.desktop{
            background-color: rgb(35, 35, 35);
      }
    .image{
            width: 80px;
            height: 40px;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    #imageInput {
        margin-bottom: 20px;
    }

    #imageContainer {
        width: 100%;
        text-align: center;
    }

    #selectedImage {
        max-width: 100%;
        max-height: 400px;
    }
    .user_profile {
            border-radius: 100%;
            height: 50%;
            width: 50%;
    }
    </style>

</head>
<body style="background-color: rgb(0, 0, 0);">

    <header class="desktop">
        <div class="top-container">
            <div class="top-logo">
                <img class="image" src="{{ url_for('static', filename='logo.png') }}" >
            </div>
            <div class="top-icons">
                <ion-icon  name="paper-plane-outline"></ion-icon>
            </div>
        </div>
    </header>

    <header class="mobile">
        <img style="padding-left: 5%;" class="image" src="{{ url_for('static', filename='logo.png') }}" >
        <p></p>
    </header>

    <br><br><br>
    <div class="container">
        <h4><u><b>EDIT YOUR PROILE</b></u></h4>
        <!-- Section: Split screen -->

        <form action="/save" method="POST" enctype="multipart/form-data">

            <div class="row">

                <div class="col-lg-6">
                    <br><br><br>
                    <div id="imageContainer">
                        <img id="previewImage" class="user_profile" src="{{url_for('static',filename='profile_images/profileimage.png')}}" alt="Preview Image"><br>
                    </div>
                    <input type="file" id="imageInput" name="imageInput" accept=".jpg,.png" hidden><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="imageInput" style="background-color: white;color: blue;width: 31%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select Image </label>
                </div>

                <div class="col-lg-6 vh-100">
                    <br><h5><u>Username: </u></h5>
                    <input class="form-control" style="background-color: black;" type="text" id="username" name="username" value="ahamed" readonly><br>
                    <h5><u>Nickname: </u></h5>
                    <input class="form-control" type="text" value="{{nickname}}" name="nickname" required="">
                    <h5><u>BIO: </u></h5>
                    <textarea style="background-color: rgb(27, 27, 27);color: gray;" name="bio" rows="5" cols="50">{{bio}}</textarea>
                    <h5><u>Email ID: </u></h5>
                    <label style="background-color: black;color: gray;">{{emailid}}</label><br><br>
                    <!--<input class="btn btn-success" type="submit" value="SAVE">-->
                    <button class="btn btn-success" type="submit" id="saveButton">Save</button>
                </div>

            </div>

        </form>
        <script>
            // Get the elements from the document
            const imageInput = document.getElementById('imageInput');
            const previewImage = document.getElementById('previewImage');
            const username = document.getElementById('username');
            const saveButton = document.getElementById('saveButton');

            // Add an event listener to the image input
            imageInput.addEventListener('change', handleImageSelect);

            // Define a function to handle the image selection
            function handleImageSelect(event) {
                // Get the file object from the event
                const file = event.target.files[0];
                // Check if the file exists and is an image
                if (file && file.type.startsWith('image/')) {
                    // Create a file reader object
                    const reader = new FileReader();
                    // Define a function to execute when the file is loaded
                    reader.onload = function (e) {
                        // Set the preview image source to the file data
                        previewImage.src = e.target.result;
                    };
                    // Read the file as a data URL
                    reader.readAsDataURL(file);
                }
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
