img{
    display: block;
    width: 500px;
    height: 600px;
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

#output{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}